@model OAuthPopupAuthentication.Models.UserDisplayModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET OAuth without Identity</h1>
    <p class="lead">This sample shows how you can use the OAuth providers without having to use ASP.NET Identity</p>
    @Html.ActionLink("Authenticate with GitHub", "AuthorizeGitHub", null, new { @class = "btn btn-primary btn-lg" })
</div>

@if (!string.IsNullOrEmpty(Model.AccessToken))
{
    <h2>GitHub Details</h2>
    <p>Access Token: @Model.AccessToken</p>
    <p>Name: @Model.Name</p>
    <img src="@Model.AvatarUrl" style="width: 100px; height: 100px;" />
}